<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>
<p><%= flash[:remove] %></p>
<p><%= flash[:error] %></p>
<hr>
<%= form_tag(search_recipes_path, method: "get") do %>
  <%= label_tag(:search, "Buscar por:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Buscar") %>
<% end %>
<hr>
<%= link_to 'Enviar uma receita', new_recipe_path %> |
<%= link_to 'Cadastrar uma cozinha', new_cuisine_path %> |
<%= link_to 'Cadastrar um tipo de receita', new_recipe_type_path %>
<hr>
<h1>Cozinha:</h1>
<ul>
  <% @cuisines.each do |cuisine| %>
    <li><%= link_to cuisine.name, cuisine_path(cuisine.id) %></li>
  <% end %>
</ul>

<br>
<h1>Tipo de receita:</h1>
<ul>
  <% @recipe_types.each do |type| %>
    <li><%= link_to type.name, recipe_type_path(type.id) %></li>
  <% end %>
</ul>

<hr>

<% @recipes.each do |recipe| %>
  <%= render recipe %>
<% end %>
